* {
    margin: 0;
}

.header_left img{
    height: 40px;
}

.User_avatar{
    border-radius: 50%;
    width: 45px;
}

.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

}

.header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_left_input_bar{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header_left_input_bar .input{
    border:none;
    background-color: transparent;
    outline-width: 0;
}

.header_mid{
    display: flex;
    flex: 1;
    justify-content: center;
}


.header_options .material-icons{
    font-size: xx-large;
    color: gray;
}

.header_options:hover .material-icons{
    
    color: #2e81f4;

}

.header_options{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    cursor: pointer;
}

.header_options.active .material-icons{
    color: #2e81f4;
}

.header_options.active{
    border-bottom: 2px solid #2e81f4;
}

.header_options:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0px 30px;
    /* border-bottom: none; */
}

.header_info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header_info h4{
    margin-left: 10px;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right .material-icons{
    color: gray;
    margin: 10px;
    cursor: pointer;
}

/* sidebar */

.sidebarrow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarrow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarrow{
   
    margin-left: 20px;
    font-weight: 600;
}

.sidebarrow .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(9, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.story:hover{
    transform: scale(1.07);
}

.story_avatar{
    margin: 10px;
}

.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.storyreel{
    display: flex;
    padding: 10px 0;
}

.main_body{
    display: flex;
}

body{
    background-color: #f1f2f5;
}

.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar{
    padding: 25px 10px;
    flex: 0.33; 
}

/* message sender */

.message_sender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -9px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.message_top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.message_top form{
    flex: 1;
    display: flex;
}

.message_top form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.message_bottom{
    display: flex;
    justify-content: space-evenly;
}

.message_sender_options{
    display: flex;
    padding: 8px;
    align-items: center;
    color: gray;
    margin: 5px;
}

.message_sender_options h3{
    font-size: medium;
    margin-left: 10px;
}

.message_sender_options:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}

/* post  */

.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -9px rgba(0, 0, 0, 0.75);   
}

.post_img img{
    width: 100%;
}

.post_top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.User_avatar post_avatar{
    margin-right: 10px;
}

.post_top_info h3{
    font-size: medium;
}

.post_top_info p{
    font-size: small;
    color:gray;
}

.post_bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.post_options{

    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    padding: 15px;
    cursor: pointer;
}

.post_option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post_option p{
    margin-left: 10px;
}

.post_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

@media(max-width: 758px){
    .sidebar{
        display: none;
    }
    .header_left_input_bar .input{
        display: none;
    }
    .header_mid{
        display: none;
    }
    .header_info{
        display: none;
    }
    .widgets{
        display: none;
    }
    .feed{
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }
    .story h4{
        font-size: 10px;
    }
    .story img{
        width:40px
    }
}

@media(min-width: 320px){
    .storyreel{
        width: 100%;
        overflow-x: scroll;
    }
}

@media(min-width: 769px) and (max-width: 1440px){
    .feed{
        width: 50%;
        padding: 10px 50px;
    }
}